#chatWindow .form-control {
    border-color: transparent;
}

#chatWindow .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.bg-danger-light {
    background-color: #f8d7da; /* Light bootstrap red */
  }


.overlap-message {
    margin-top: -35px;
}

.uniform-header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.card-body {
    overflow-y: auto;
    max-height: 100vh;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-symbol {
    width: 40px;
    height: 100%;
    display: none;
    animation: spin 1.5s linear infinite;
}

table tr:last-child td {
    border-bottom: none;
}

.chat-table td,
.chat-table th {
    border-bottom: 1px solid #6c757d; /* Darker border color for row separators */
}

.chat-table td:not(:last-child),
.chat-table th:not(:last-child) {
    border-right: 2px solid #6c757d; /* Darker border color for higher contrast */
}

.chat-table td,
.chat-table th {
    padding: 0.75rem 1.25rem; /* Increase padding for more space in cells */
}
